.posts {
    display: flex;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.posts .loading {
    align-self: center;
}

.posts ul {
    padding: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    height: fit-content;
}

.posts li {
    list-style-type: none;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    border: solid 1px white;
    padding: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.posts .spinning {
    animation: spin 2s linear infinite;
    transform-origin: center;
}

.selected-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.selected-popup::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: -1;
}

.selected-post {
    position: relative;
    width: 50rem;
    padding: 1rem;
}

.selected-post > .cross {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
