.form {
    width: 30rem;
}

form.form > div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 5rem 1fr;
    margin-bottom: 1rem;
}

.form span {
    margin-top: 1rem;
    color: red;
}

.form .input-field {
    display: flex;
    flex-direction: column;
}